<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config</title>
</head>
<body>
    <h1 id="c1">CONFIGURACION 1</h1>
    <p>[100,150,200,100,75,125,90,130,150,200]
       [-50,-25,-100,-50,-75,-200,-10,0,-25,-100]
    </p>
    <a href="igt.html" id="1" onclick="seleccionar(this)">SELECCIONAR</a>
    <h1 id="c2">CONFIGURACION 2</h1>
    <p>[100,100,100,100,100,100,100,100,100,100]
       [-50,-50,-50,-50,-50,-50,-50,-50,-50,-50]
    </p>
    <a href="igt.html" id="2" onclick="seleccionar(this)">SELECCIONAR</a>
    <script src="../viewscripts/config.js"></script>
</body>
</html>