<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #9F9F9F; margin: 0;">
    <header class="header">
        <div class="logo">
            <h1>GGG</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="config.html">Experimento</a>
                </li>
                <li>
                    <a href="">Sujetos</a>
                </li>
                <li>
                    <a href="">Configuracion</a>
                </li>
            </ul>
        </nav>
            <nav>
            <ul class="nav-links">
                <li class="nav-li2">
                    <a href="" style="vertical-align: middle;">Perfil</a>
                </li>
                
                <li class="nav-li2">
                    <a href="" style="vertical-align: middle;"><img src="src/account-circle.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>