<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="css/stylesB.css">
    <title>Document</title>
</head>
<body style="background-color: #CECECE; margin: 0;" onload="onloadPro()">
    <header class="header">
        <div class="logo">
            <h1>GGG</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="pre.html">Experimento</a>
                </li>
                <li>
                    <a href="sujetos copy.html">Sujetos</a>
                </li>
                <li>
                    <a href="settings.html">Configuracion</a>
                </li>
                <li>
                    <a href="analisis.html">Analisis</a>
                </li>
            </ul>
        </nav>
            <nav>
            <ul class="nav-links">
                <li class="nav-li2">
                    <a href="perfil.html" style="vertical-align: middle;">Perfil</a>
                </li>
                
                <li class="nav-li2">
                    <a href="perfil.html" style="vertical-align: middle;"><img src="src/account-circle.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container mt-5 mb-5" style="padding: 0;">
        <form class="needs-validation" id="config" novalidate>
            <h1 class="subtitulo mb-3">Perfil</h1>
            <div class="row justify-content-between mb-5">
                <div class="col-5">
                    <label for="user">Usuario</label>
                    <input type="text" class="form-control" id="user" placeholder="Usuario" required disabled>
                    <label for="email">Correo</label>
                    <input type="text" class="form-control" id="email" placeholder="example@mail.com" required disabled>
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" id="pass" placeholder="******" required disabled>
                </div>
            </div>
            <div class="position-absolute bottom-0 start-50 translate-middle mb-5">
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" id="actionBtn" onclick="updateData()">Editar</button>
            </div>
        </form>
        <div class="position-absolute bottom-0 start-40 translate-middle mb-5">
            <a href="login.html">
                <button type="submit" class="btn btn-danger btn-lg" onclick="salir()">Salir</button>
            </a>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Rellene todos los campos</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresa tu contraseña</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" id="passForm" novalidate onsubmit="return false">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <label for="passModal" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="passModal" placeholder="*******" required>
                        <div class="invalid-feedback">
                            Contraseña Incorrecta
                          </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button id="cerrar" type="submit" class="btn btn-primary" onclick="checkPass()">Confirmar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    <script src="../viewscripts/perfil.js"></script>
</body>
</html>