<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.css">
    <link rel="stylesheet" href="../node_modules/datatables.net-select-bs5/css/select.bootstrap5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="../node_modules/datatables.net-searchpanes/js/dataTables.searchPanes.js"></script>
    <script src="../node_modules/datatables.net-select/js/dataTables.select.js"></script>
    <script src="../node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
    <script src="../node_modules/datatables.net-searchpanes-bs5/js/searchPanes.bootstrap5.js"></script>

    <link rel="stylesheet" href="css/stylesB.css">
    <title>Document</title>
</head>
<body style="background-color: #CECECE; margin: 0;" onload="onloadSet()">
    <header class="header">
        <div class="logo">
            <h1>GGG</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="pre.html">Experimento</a>
                </li>
                <li>
                    <a href="sujetos copy.html">Sujetos</a>
                </li>
                <li>
                    <a href="settings.html">Configuracion</a>
                </li>
                <li>
                    <a href="analisis.html">Analisis</a>
                </li>
            </ul>
        </nav>
            <nav>
            <ul class="nav-links">
                <li class="nav-li2">
                    <a href="perfil.html" style="vertical-align: middle;">Perfil</a>
                </li>
                
                <li class="nav-li2">
                    <a href="perfil.html" style="vertical-align: middle;"><img src="src/account-circle.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container mt-5 mb-5" style="padding: 0;">
    <h1 class="subtitulo">Selecciona un sujeto y Configuracion</h1>
    <div class="row justify-content-end mb-3">
        <div class="col-4" id="configS">
            <label for="saveSettings">Configuraciones Guardadas</label>
            <select class="form-select" aria-label="Configuracion Guardada" id="savedSettings" onchange="loadSet(this)">
                <option selected value="0">Selecciona</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-3">
            <h4 class="form-label">Filtros</label>
        </div>
    </div>
    <div class="row justify-content-center">
            <table id="example" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Escolaridad</th>
                        <th>Carrera</th>
                        <th>Aptitud</th>
                        <th>Sexo</th>
                    </tr>
                </thead>
                <tbody>  
                </tbody>
            </table>
    </div> 
    <div class="row justify-content-center mb-1">
        <div class="col-auto">
            <a id="linkB" href="resumen.html" style="pointer-events: none;">
                <button id="buttonB" type="button" class="btn btn-primary btn-lg" disabled>Continuar</button>
            </a>
        </div>
    </div>
</div>
    <script src="../viewscripts/pre.js"></script>
</body>
</html>